 .bg {
    &-primary {
        background: $c-primary;
    }
    &-tertiary{
        background: $c-tertiary;
    }
    &-default {
        background-color: $c-sixth;
    }

}

.d {
    &-flex {
        display: flex;
    }

    &-none {
        display: none;
    }

    &-block {
        display: block;
    }
    &-inlineblock{
        display: inline-block;
    }

    &-md-none {
        @include rwd($md) {
            display: none;
        }
    }

    &-lg-none {
        @include rwd($lg) {
            display: none;
        }
    }

    &-xl-none {
        @include rwd($xl) {
            display: none;
        }
    }

    &-md-block {
        @include rwd($md) {
            display: block;
        }
    }

    &-lg-block {
        @include rwd($lg) {
            display: block;
        }
    }

    &-xl-block {
        @include rwd($xl) {
            display: block;
        }
    }

    &-lg-flex {
        @include rwd($lg) {
            display: flex;
        }
    }
}

.width {
    &-100 {
        width: 100%;
    }

    &-lg-auto {
        @include rwd($lg) {
            width: auto;
        }
    }
    &-130p{
        width: 130px;
    }
}
.vh{
    &-100{
        height: 100vh !important;
    }
}

.m {
    &-0 {
        margin: 0px !important;
    }
    &r-9{
        margin-right: 9px;
    }

    &t-26{
        margin-top: 26px !important;
    }
    &b-12{
        margin-bottom: 12px !important;
    }
    &b-15{
        margin-bottom: 15px !important;
    }
    &b-20{
        margin-bottom: 20px !important;
    }
    &b-24{
        margin-bottom: 24px !important;
    }
    &b-25{
        margin-bottom: 25px !important;
    }
    &b-53{
        margin-bottom: 53px !important;
    }
    &y-16{
        margin-top: 16px !important;
        margin-bottom: 16px !important;
    }
    &x-4{
        margin-right: 4px;
        margin-left: 4px;
    }

}
.p {
    &-16 {
        padding: 16px !important;
    }
    &x-38{
        padding-right: 38px !important;
        padding-left: 38px !important;
    } 
    &y-15{
        padding-top: 15px !important;
        padding-bottom: 15px !important;
    }
    &y-16{
        padding-top: 16px !important;
        padding-bottom: 16px !important;
    }
    &y-28{
        padding-top: 28px !important;
        padding-bottom: 28px !important;
    }
}

.pos {
    &-r {
        position: relative;
    }

    &-a {
        position: absolute;
    }
}

.text {
    &-center {
        text-align: center;
    }
}


.flex {
    &-wrap {
        flex-wrap: wrap;
    }

    &-md-wrap {
        @include rwd($md) {
            flex-wrap: wrap;
        }
    }

    &-column {
        flex-direction: column;
    }

    &-xl-column {
        @include rwd($xl) {
            flex-direction: column;
        }
    }

    &-md-row {
        @include rwd($md) {
            flex-direction: row;
        }
    }

    &-xl-row {
        @include rwd($xl) {
            flex-direction: row;
        }
    }
    &-1{
        flex: 1;
    }
}

.align-items {
    &-center {
        align-items: center;
    }
    &-end{
        align-items: flex-end;
    }
    &-stretch{
        align-items: stretch;
    }

    &-xl-stretch {
        @include rwd($xl) {
            align-items: stretch;
        }
    }
}

.justify-content {
    &-end {
        justify-content: flex-end;
    }

    &-start {
        justify-content: flex-start;
    }

    &-between {
        justify-content: space-between;
    }

    &-center{
        justify-content: center;
    }
}

.turn180 {
    transform: rotateY(180deg);
}

.nav-top{
    &__item{
        width: 120px;
        font-size: $fz-md;
        line-height: $lh-md-l;
        padding-top: 8.5px;
        padding-bottom: 8.5px;
        &.active{
            background: $c-primary-liner;
            color: $c-tertiary;        }
    }
    &__btn{
        width: 130px;
        font-size: $fz-lg;
        line-height: $lh-lg;
        padding-top: 16px !important;
        padding-bottom: 16px !important;
    }
}
.nav-bottom{
    padding-top: 6.5px;
    padding-bottom: 6.5px;
    &__item{
        @include fzlh($fz-xs,$lh-xs);
        cursor: pointer;
    }
    &__img{
        width: 40px;
        padding: 10.5px;
        margin: 0 8px 2px 8px;        
    }

}

.btn {
    cursor: pointer;
    text-align: center;
    border: none;
    background:transparent;
    padding: 0px;

    &-primary {
        background: $c-primary;
        color: $c-fourth;
        &-liner{
            background: $c-primary-liner;
            color: $c-tertiary;
        }
        &:hover,&-liner:hover{
            background: $c-secondary;
        }
    }
    &-tertiary{
        background: $c-tertiary;
        color: $c-primary;
    }
    &-group{
        @include fzlh($fz-lg,$lh-lg);
        li+li{
            margin-left: 12px;
        }
    }
}



.radius {
    &-9 {
        border-radius: 9px;
    }

    &-12 {
        border-radius: 12px;
    }

    &-13 {
        border-radius: 13px;
    }

    &-14 {
        border-radius: 14px;
    }

    &-16 {
        border-radius: 16px;
    }

    &-26 {
        border-radius: 26px;
    }

    &-32 {
        border-radius: 32px;
    }
}

.card {
    &-primary {
        background: linear-gradient(180deg, #35A483 0%, #077854 100%);
        -webkit-background-clip: text;
        -webkit-text-fill-color: transparent;
        background-clip: text;
    }
}

.border{
    &-fifth{
        border-color: $c-fifth;
    }
    &-primary{
        border-color: $c-primary;
    }
    &-1{
        border-width: 1px;
    }
    &-3{
        border-width: 3px;
    }
    &-dotted{
        border-style: dotted;
    }
    &-solid{
        border-style: solid;
    }
}

